In [5]:
import pandas as pd
from io import StringIO

In [6]:
print("Pandas version,", pd.__version__)

Pandas version, 2.3.1

Pandas introduces two primary data structures: Series and DataFrame, along
with an Index that labels the data.
Series: Its a one-dimensional array of data with an index (like a labeled column of values).
DataFrame: DataFrame is a two-dimensional table of data, consisting of multiple Series 
that share the same index (like a spreadsheet or SQL table)
The index is a set of labels for each row (and each column, in the case of column names),
by default, Pandas assigns an integer index starting form 0 for rach row.
Why do we use pandas?
In real-world data analysis, you will often actually work with dataset
(csv files, databases, JSON APIS, etc). That would need cleaning, transformation and summarization.
Pandas provides high-level data structure and functions that makes theses tasks easy,
Its built on Numpy, and it gives high performace of numerical data.

In [7]:
# Create a Series of exam scores
scores = pd.Series([89, 90, 88, 88], index=["Alice", "Bob", "Charlie", "Dana"])
print("Series of Scores:")
print(scores, "\n")

Series of Scores:
Alice      89
Bob        90
Charlie    88
Dana       88
dtype: int64

In [8]:
# Create a Dataframe of students with multiple columns
data = {
    "Name": ["Alice", "Bob", "Charlie", "Dana"],
    "Age": [45, 33, 55, 22],
    "City": ["NY", "LA", "NY", "TX"],
    "Score": [89, 90, 88, 88]
}
df = pd.DataFrame(data)
print(df)

      Name  Age City  Score
0    Alice   45   NY     89
1      Bob   33   LA     90
2  Charlie   55   NY     88
3     Dana   22   TX     88

In [9]:
print("Columns of df:", df.columns)

Columns of df: Index(['Name', 'Age', 'City', 'Score'], dtype='object')

In [10]:
# Creating csv data (comma seperated values)
csv_data = """Name,Age,City
Alice,45,NY
Bob,33,LA
Charlie,55,NY
Dana,22,TX
"""
# Use StringIo to simulate a file object from the string (for demo purposes)

df = pd.read_csv(StringIO(csv_data))
print("DataFrame read from CSV:")
print(df,"\n")

# Now write this DataFrame to an Excel file (this will actually create an actual file
df.to_excel("people.xlsx", index=False) # index=False to omits the index in the file

print("DataFrame has been written to the file")

# In the code above pd.read_csv was used to parse CSV data in practice, you would
# pd.read_csv("path/to/your/file.csv")

DataFrame read from CSV:
      Name  Age City
0    Alice   45   NY
1      Bob   33   LA
2  Charlie   55   NY
3     Dana   22   TX

DataFrame has been written to the file

In [11]:
# JSON string example
json_data = '[{"Name": "X", "Score":5}, {"Name": "Y", "Score": 7}]'
df_json = pd.read_json(json_data)
print("DataFrame read from JSON:")
print(df_json)

# Write DataFrame to JSON File
df_json.to_json("Sample.json", orient="records")
print("DataFrame has been written to 'sample.json'")

DataFrame read from JSON:
  Name  Score
0    X      5
1    Y      7
DataFrame has been written to 'sample.json'

C:\Users\Creep\AppData\Local\Temp\ipykernel_16644\1638509791.py:3: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_json = pd.read_json(json_data)

In [12]:
product_data = {
    "Product": ["Widget", "Gadget"],
    "Price": [23,34],
    "Quantity": [33,44]
}
df = pd.DataFrame(product_data)
print(df)
# Write DataFrame to csv file
df.to_csv("products.csv", index=False)
print("Dataframe has been written to products.csv")

  Product  Price  Quantity
0  Widget     23        33
1  Gadget     34        44
Dataframe has been written to products.csv

In [13]:
# Reading from the csv file
df = pd.read_csv("products.csv")
print(df)

  Product  Price  Quantity
0  Widget     23        33
1  Gadget     34        44

In [14]:
# Reading from the excel file
df = pd.read_excel("people.xlsx")
print(df)

      Name  Age City
0    Alice   45   NY
1      Bob   33   LA
2  Charlie   55   NY
3     Dana   22   TX

In [15]:
# Reading from the JSON file
df = pd.read_json("Sample.json")
print(df)

  Name  Score
0    X      5
1    Y      7

Once data is loaded into a DataFrame, the first step is to inspect it.
Its shape, structure and basic statistics.

# This if for DataFrame
df.head(n) - view the first n rows (default is 5)
df.tail(n) - view the last n rows
df.shape - get the number of rows and colums as tuple (n_rows, n_cols)
df.columns - get the column labels
df.index - get the index (row labels)
df.dtypes - data types of each column
df.info() - concise summary: shows the index range, column names,
            non-null counts, and dtypes.
df.describe() - descriptive statics for numeric columns
                (count, mean, std, min, quartiles, max)
if we pass include='all', it will attempt to summarize non-numerical columns.
(example count of unique, top value frequency)

# Series
ser.value_counts() - frequency count of unique values
ser.unique() - array of unique values
ser.mean(), ser.min(), ser.max(), ser.sum(), ser.median() - common statistics
ser.isna() - Boolean series indicating missing values (Nans)

Whenever you get a new dataset, you should always perform an initial exploration.
For example, if you're analyzing a dataset of customer purchases-
How many records are there?
What columns(features) does it have?
Are they numeric, catagorical, dates?
Are there missing values to worry about?
What are the ranges of typical values of numerical values (describe())?
Do any columns have suspecious values (like negative values, or ages)

In [16]:
# Code Demo
data = {
    "Name": ["Alice", "Bob", "Charlie", "Dana"],
    "Age": [45, 33, 55, 22],
    "City": ["NY", "LA", "NY", "TX"],
    "Score": [89, 90, 88, 88]
}
df = pd.DataFrame(data)
print("First 3 rows:\n", df.head(3),"\n")
print("DataFrame Shape", df.shape)
print("Colums:", df.columns)
print("Data Types:\n", df.dtypes,"\n")
df.info() # Prints into to console
print("\nSummary Statistics\n", df.describe())
print(df["City"])
print("Unique Cities:", df["City"].unique())
print("Counts Of Each City:\n", df["City"].value_counts())

First 3 rows:
       Name  Age City  Score
0    Alice   45   NY     89
1      Bob   33   LA     90
2  Charlie   55   NY     88

DataFrame Shape (4, 4)
Colums: Index(['Name', 'Age', 'City', 'Score'], dtype='object')
Data Types:
 Name     object
Age       int64
City     object
Score     int64
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
 3   Score   4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes

Summary Statistics
              Age      Score
count   4.000000   4.000000
mean   38.750000  88.750000
std    14.338177   0.957427
min    22.000000  88.000000
25%    30.250000  88.000000
50%    39.000000  88.500000
75%    47.500000  89.250000
max    55.000000  90.000000
0    NY
1    LA
2    NY
3    TX
Name: City, dtype: object
Unique Cities: ['NY' 'LA' 'TX']
Counts Of Each City:
 City
NY    2
LA    1
TX    1
Name: count, dtype: int64

# Indexing, Selecting, Filtering, and Sorting Data

Pandas actually offers multiple ways to index and select.
Column Selection, you can select a column as a series using df["ColumnName"].
To select multiple columns, you can pass a list: df[["ColA", "ColB"]]
It returns a new DataFrame with only those columns.

Row selection:
Using the .loc indexer. For df.loc[0] returns the row with index label 0
If your DataFrame has a custom index [say, one of the columns as a index], you use label .loc
allows you to select by row label and column label: df.loc[row_label, col_label]
I can take slices as well (example, df.loc[2:4] for labels 2 through 4, inclusive).

Row selection by position: 
Using the .iloc indexer, example, df.iloc[0] returns the first row (regardless of index).
df.iloc[0:3] returns first three row (0,1,2). You can also do df.iloc[[0,2],[1,3]] to get
specific rows and columns by integer position.

Boolean indexing (Filtering):
You can pass a boolean condition to the DataFrame to filter rows. For example: df[df["Age"] > 30]
returns only the rows where the Age columns is greater than 30.
You can also combine conditions with & (and) and | (or)
Example, df[(df["City"] == "NY") & (df[df["Score"] > 80]) gives me rows where city is NY and 
score > 80

Sorting:
Use df.sort_values("ColumnsName") to sort by a columns (ascending by default)
df.sort_values("ColumnName", ascending = False) for descending.

You can sort by multiple columns df.sort_values(["City", "Age"]) sort by City, then by age within 
each city. To sort by the index, use df.sort_index()

Important things to know.
Pandas indexing can be little confusing at first because of the dual use of []. 
Writing df[<conditions>] is shorthand for filtering rows by a condition (boolean indexing) while df["Col"]
selects a column. To avoid the ambiguity and pitfalls, It's ofter clearer to use .loc and .iloc
for explicit indexing.

In [17]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Dept": ["HR", "IT", "Finance", "IT", "Marketing"],
    "Salary": [60000, 75000, 80000, 70000, 65000],
    "HireDate": pd.to_datetime(["2019-05-01", "2021-07-15", "2020-09-30", "2022-01-10", "2018-03-20"])
}

df = pd.DataFrame(data)
df.info()
print("DataFrame: \n",df.head())

# Column Selection
name_series = df["Name"]
print("Name Series:\n", name_series, "\n")

subset = df[["Name", "Salary"]]
print("Subset of DataFrame [Name and Salary:\n", subset, "\n")

# Row Selection by Position
first_row = df.iloc[0] # First row (As a series)
print("First row using iloc:\n", first_row, "\n")

# Row Selection by label (Our index is 0,1,2,3...)
row_label_2 = df.loc[2]
print("Row with index label 2 using loc:\n", row_label_2, "\n")

# Filtering (Boolean Indexing)

high_salary = df[df["Salary"] > 70000]
print("Employees with Salary > 70000:\n", high_salary, "\n")

IT_employees = df[df["Dept"] == "IT"]
print("Employees in IT Dept:\n", IT_employees, "\n")

# Combined condition: IT and salary greater than 75000

IT_high_salary_employees = df[(df["Dept"] == "IT") & (df["Salary"] > 75000)]
print("IT employees with salary greater than 75000:\n", IT_high_salary_employees, "\n")

#Sorting
sorting_by_salary = df.sort_values("Salary", ascending=False)
print("Employees sorted by Salary (desc):\n", sorting_by_salary,"\n")

# Visual Explanation of condition df for boolean
print(df["Salary"] > 800000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      5 non-null      object
 1   Dept      5 non-null      object
 2   Salary    5 non-null      int64
 3   HireDate  5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 292.0+ bytes
DataFrame:
       Name       Dept  Salary   HireDate
0    Alice         HR   60000 2019-05-01
1      Bob         IT   75000 2021-07-15
2  Charlie    Finance   80000 2020-09-30
3    David         IT   70000 2022-01-10
4      Eve  Marketing   65000 2018-03-20
Name Series:
 0      Alice
1        Bob
2    Charlie
3      David
4        Eve
Name: Name, dtype: object

Subset of DataFrame [Name and Salary:
       Name  Salary
0    Alice   60000
1      Bob   75000
2  Charlie   80000
3    David   70000
4      Eve   65000

First row using iloc:
 Name                      Alice
Dept                         HR
Salary                    60000
HireDate    2019-05-01 00:00:00
Name: 0, dtype: object

Row with index label 2 using loc:
 Name                    Charlie
Dept                    Finance
Salary                    80000
HireDate    2020-09-30 00:00:00
Name: 2, dtype: object

Employees with Salary > 70000:
       Name     Dept  Salary   HireDate
1      Bob       IT   75000 2021-07-15
2  Charlie  Finance   80000 2020-09-30

Employees in IT Dept:
     Name Dept  Salary   HireDate
1    Bob   IT   75000 2021-07-15
3  David   IT   70000 2022-01-10

IT employees with salary greater than 75000:
 Empty DataFrame
Columns: [Name, Dept, Salary, HireDate]
Index: []

Employees sorted by Salary (desc):
       Name       Dept  Salary   HireDate
2  Charlie    Finance   80000 2020-09-30
1      Bob         IT   75000 2021-07-15
3    David         IT   70000 2022-01-10
4      Eve  Marketing   65000 2018-03-20
0    Alice         HR   60000 2019-05-01

0    False
1    False
2    False
3    False
4    False
Name: Salary, dtype: bool

In [18]:
raw_data = {
"Name": ["Alice ", "Bob", "Charlie", "Eve"],
"Age": [25, 30, 35, 40 ],
"City": ["NY", "LA", "NY", "LA", ],
"Score": [85, 90, 88, 75]
}

Using the DataFrame df or a dataset of your own:
1. Select only the "Name" column
using two different methods (as a Series, and as a one-column DataFrame). (Hint: df["Name"] vs
df[[ "Name" ]] .) 
2. Select the first two rows of the DataFrame using .iloc . 
3. Select the last row
using .iloc (you can use -1 as the index in Python for last). 
4. Filter the DataFrame to only include rows
where Age is greater than 30.
5. Filter to include rows where City is "NY" or "LA" (use the | operator
for OR). 
6. Sort the DataFrame by Score in descending order.

In [19]:
data = {
"Name": ["Alice ", "Bob", "Charlie", "Eve"],
"Age": [25, 30, 35, 40 ],
"City": ["NY", "LA", "NY", "LA", ],
"Score": [85, 90, 88, 75]
}
df = pd.DataFrame(data)

# Select only the "Name" column
print("Name column as Series:\n", df["Name"], "\n")
print("Name column as DataFrame:\n", df[["Name"]], "\n")

# Select the first two rows
print("First two rows:\n", df.iloc[0:2], "\n")

# Select the last row
print("Last row:\n", df.iloc[-1], "\n")

# Filter where Age > 30
print("Age > 30:\n", df[df["Age"] > 30], "\n")

# Filter where City is NY or LA
print("City is NY or LA:\n", df[(df["City"] == "NY") | (df["City"] == "LA")], "\n")

# Sort by Score descending
print("Sorted by Score (descending):\n", df.sort_values(by="Score", ascending=False), "\n")

Name column as Series:
 0     Alice
1        Bob
2    Charlie
3        Eve
Name: Name, dtype: object

Name column as DataFrame:
       Name
0   Alice
1      Bob
2  Charlie
3      Eve

First two rows:
      Name  Age City  Score
0  Alice    25   NY     85
1     Bob   30   LA     90

Last row:
 Name     Eve
Age       40
City      LA
Score     75
Name: 3, dtype: object

Age > 30:
       Name  Age City  Score
2  Charlie   35   NY     88
3      Eve   40   LA     75

City is NY or LA:
       Name  Age City  Score
0   Alice    25   NY     85
1      Bob   30   LA     90
2  Charlie   35   NY     88
3      Eve   40   LA     75

Sorted by Score (descending):
       Name  Age City  Score
1      Bob   30   LA     90
2  Charlie   35   NY     88
0   Alice    25   NY     85
3      Eve   40   LA     75

# Data Cleaning-Handling Missing Values and Data Types
Real datasets are often messy: missing values, wrong types (e.g., numbers stored as strings),
inconsistent formatting (caps, spaces), duplicates, etc).
Pandas offers tools to clean and prep the data for analysis.

Missing Values:
Pandas uses NaN (Not a Number) or None as placeholders for missing data.
Key Functions: df.isna() or df.isnull() - returns a DataFrame of booleans where True = missing
- df.notna() - opposite. - df.isna().sum() - sum of True by columns gives count to NaNs in each column
- Dropping missing - df.dropnna() - drops any row with NaN in any column (You can change with how = 'all'
  to drop only if all columns are NaN, or axis = 1 to drop columns with NaNs.)
- Filling missing: df.fillna(value) - replace NaNs with specified value (e.g., 0 or "Unknown").
- We can also do df.fillna(method='ffil') to forward-fill (use last known value) or bfill for backward-fill
  useful in time series
- You can fill with different values per column by passing a dict
  df.fillna({"Age":df["Age"].mean(), "City": "Unknown"})

In [20]:
df_miss = pd.DataFrame({
    "Name": ["Alice", None, "Charlie"],
    "Score": [95, 85, None]
})
print(df_miss.isna())
print(df_miss.isna().sum()) # Count NaNs per column

df_miss_filled = df_miss.fillna({"Name": "Unknown", "Score": df_miss["Score"].mean()})
print(df_miss_filled)
# We replaced missing name with "Unknown" and missing Score with mean score.


# Caution:
# Filling numerical NaN with mean (as float) is fine; it was int column, it becomes float (Since NaN is float).
# You can convert dtype later if needed (df["Score"] = df["Score"].astype['Int64'] for nullable int type
# that can hold NaN.)

    Name  Score
0  False  False
1   True  False
2  False   True
Name     1
Score    1
dtype: int64
      Name  Score
0    Alice   95.0
1  Unknown   85.0
2  Charlie   90.0

# Data Type Conversions

- Check df.dtypes to see types.
  Common cleaning:
- Number read as strings -> convert numeric with pd.to_numeric with pd.to_numeric(series, errors='coerce')
  (will turn non-vertible to NaN) or series.astype(int/float) if you're sure all are numeric.
- String that are actually dates -> pd.to_datetime(series, errors='coerce') to convert.
- Categorical data (like entries repeating) -> you can convert to pandas "category" dtype to save memory or
  to indicate it's categorical (e.g, df["City"] = df["City"].astype('category')).


  Example: df_people["Age"] = pd.to_numeric[df_people["Age"], errors='raise')
  If a non-numeric is found, errors='raise' would throw, errors='coerce' would set those to NaN.

# String Operations

Pandas Series have a .str accessor to apply string methods element-wise.

- df["Name"].str.lower()/upper()/title() - change case.
- df["ID"].str.strip() - remove any leading/trailling whitespace.
- df["Email"].str.contains("@gmail.com") - Boolean Series if substring present.
- df["City"].str.replace("New York", "NYC") - simple replacements (Can use regex too)
- Categorical data (like entries repeating) -> you can convert to pandas "category" dtype to save memory or
  to indicate it's categorical (e.g, df["City"] = df["City"].astype('category'))

  Example: df_people["Age"] = pd.to_numeric[df_people["Age"], errors='raise')
  If a non-numeric is found, errors='raise' would throw. errors='coerce' would  set those to NaN.

# Removing The Duplicates

- df.duplicated() - Boolean series, True for rows that are duplicates of previous row (can specify subset of cols)
- df.drop_duplicates() - removes duplicate rows (keeping the first occurance by default).
  e.g, If we had duplicate entries in df_people, df_people.drop_duplicates(subset=["Name"], keep="first")
  drop later enteries with same Name.

In [21]:
df_raw = pd.DataFrame({
    "Name": ["Alice", "Bob", "bob", None],
    "Age": ["24", "27", "27", "45"],
    "City": ["new york", "Los Angeles", "los angelos", "Chicago"]
})
print("Raw\n", df_raw)

Raw
     Name Age         City
0  Alice  24     new york
1    Bob  27  Los Angeles
2    bob  27  los angelos
3   None  45      Chicago

In [22]:
df = df_raw.copy()
# Strip and title-case Name and City
df["Name"] = df["Name"].str.strip().str.title()
df["City"] = df["City"].str.strip().str.title()

In [23]:
# Handle Missing Name
df["Name"] = df["Name"].fillna("Unknown")

# Convert Age to Numeric
df["Age"] = pd.to_numeric(df["Age"], errors='coerce')

# Drop the duplicates for Name (Keeping first)
df = df.drop_duplicates(subset="Name", keep='first')

print("Cleaned:\n", df)

Cleaned:
       Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
3  Unknown   45      Chicago

# Feature Engineering - Creating New Columns
Feature engineering involves transforming existing data or creating new features (columns that may
be useful for analysis or modeling. The could be derived metrics, categorical encodings, flags.

You can create new columns by assignment to df["NewCol"]

- df["TotalScore"] = df["Score1"] + df["Score2"]
- df["AvgScore"] = df[["Score1","Score2"]].mean(axis=1)

If you apply a scalar operation:
- df["Score1_pct"] = df["Score1"] / df["Score"1].sum() * 100

Conditional columns
- Using np.where or boolean logic:
  For exampe, mark if a student passes both tests
  - import numpy as np
  - df["PassedBoth"] = np.where(df["Score"]>=60) & (df["Score2"]>=60), True, False)
- where()
- df["HonorRoll"] == df["AvgScore"].where(df["AvgScore"]>=90, other=8) # Keeps score if >90 else 8

- You might also combine text
  - df["fullName"] = df["FirstName"] + " " + df["lastName"]
- Extract part of a string
  - df["Domain"] = df["Email"].str.split("@", expand=True)[1]
- Data example, if you have a datetime column
  - df["Year"] = df["Date"].dt.year
  - df["Month"] = df["Date"].dt.month.name()
  - df["IsWeekend"]  = df["Date"].dt.weekday >= 5
- Encoding the Categorical Varibles
  - Mapping to numerics, e.g, df["GenderCode"] = df["Gender"].map("Male":1, "Female":0)
  - One-hot encoding: Turn categories into dummy/indicator columns
    dummies = pd.get_dummies(df["Category"], prefix="Cat")
    df = pd.concat([df, dummies], axis=1)
    This will add columns Cat_A, Cat__B... with 1/0 indicating presence of category (useful for
    machine learning).

In [24]:
df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "BirthYear": [1990, 1985, 1992],
    "City": ["NYC", "LA", "NYC"]
})
# Add current age in 2025
df["Age2025"] = 2025 - df["BirthYear"]
# Flag if from NYC
df["IsNYC"] = df["City"].apply(lambda x: 1 if x=="NYC" else 0)
# Combine name and City
df["NameCity"] = df["Name"] + " (" + df["City"] + ")"
print(df)

      Name  BirthYear City  Age2025  IsNYC       NameCity
0    Alice       1990  NYC       35      1    Alice (NYC)
1      Bob       1985   LA       40      0       Bob (LA)
2  Charlie       1992  NYC       33      1  Charlie (NYC)

# GroupBy and Aggregation - Summerizing Data
It is essential for analyzing data by catagories - similar to SOL's GROUPBY.
It involves splitting data into groups, applying as aggregate function, and combining results.

Common Aggregations: sum, mean, min, max, median, std, etc.

- The GroupBy process.
  - Split: Define groups based on one or more keys(columns). e.g, group by "City"
  - Apply: Compute an aggreate for each group(sum of sale per city, average age per city, etc)
  - Combine: The results are returned in a new Series or DataFrame indexed by the group Key(s)
- Pandas Syntax.
    - df.groupby("Column")["OtherColumn"].function()
  Note: if you omit the ["OtherColumn"]. It will attempt to aggregate all numeric columns by default.

In [25]:
sales = pd.DataFrame({
    "City": ["NY", "LA", "NY", "LA", "Chicago"],
    "Revenue": [100, 80, 90, 70, 60],
    "Quantity": [30, 20, 25, 30, 15]
})
print(sales)

      City  Revenue  Quantity
0       NY      100        30
1       LA       80        20
2       NY       90        25
3       LA       70        30
4  Chicago       60        15

In [27]:
# Group by City for the total revenue
rev_by_city = sales.groupby("City")["Revenue"].sum()
print(rev_by_city)

print("Info of the groupby result", rev_by_city.info)

City
Chicago     60
LA         150
NY         190
Name: Revenue, dtype: int64
Info of the groupby result <bound method Series.info of City
Chicago     60
LA         150
NY         190
Name: Revenue, dtype: int64>

In [29]:
# Multiple Aggregation: Sum of Revenue and Quantity by City
agg_by_city = sales.groupby("City").agg({"Revenue": "sum", "Quantity": "sum"})
print(agg_by_city)

         Revenue  Quantity
City
Chicago       60        15
LA           150        50
NY           190        55

In [33]:
# You can also pass a list of functions
sales.groupby("City")["Revenue"].agg(["sum", "mean", "count"])

# Here since City is a categorical datatype

# For a single column group, you get Series output (as in rev_by_city).
# If grouping by more than one key.

# Example group by two keys (City and maybe another, but our data doesn't have
# another category
# Let's add a fake category column for demonstration

sales["Category"] = ["A", "A", "B", "A", "B"]
print("After adding another category columna; \n", sales)
multi_group = sales.groupby(["City", "Category"])["Revenue"].sum()
print("After multi groupby \n", multi_group)
# This is a multi-index Series. You can .reset_index() to turn it to a Falt DF
multi_group_df = multi_group.reset_index()
print("\n Turned into df \n", multi_group_df)

# We can also iterate over df.groupby("City")

print('\n results of sales.groupby("City") \n', sales.groupby("City"))
for city, group in sales.groupby("City"):
    # print("\n", group)
    print(city, "->", group, len(group), "records")

After adding another category columna;
       City  Revenue  Quantity Category
0       NY      100        30        A
1       LA       80        20        A
2       NY       90        25        B
3       LA       70        30        A
4  Chicago       60        15        B
After multi groupby
 City     Category
Chicago  B            60
LA       A           150
NY       A           100
         B            90
Name: Revenue, dtype: int64

 Turned into df
       City Category  Revenue
0  Chicago        B       60
1       LA        A      150
2       NY        A      100
3       NY        B       90

# Combining DataFrames - Merges and Join
- Use pd.merge(df1, df3, how='inner', on='KeyColumn')
- Alternatively df1.merge(df2, how='left', left_on='key1' right_on="key2")

  - Join types:
  - Inner join: only matchinng keys in both(default)
  - Left join: all keys from left, add data from right when keys match
    (unmatched get NaN or right cals)
  - Right join: opposite of left.
  - Outer join: all keys from both, NaN where no match on either side

In [39]:
df_customers = pd.DataFrame({
    "CustomerID": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"]
})
df_orders = pd.DataFrame({
    "OrderID": [101, 102, 103, 104],
    "CustomerID": [2, 2, 3, 4],
    "Amount": [250, 100, 50, 300]
})

print("Customers:\n", df_customers)
print("Orders:\n", df_orders)

Customers:
    CustomerID     Name
0           1    Alice
1           2      Bob
2           3  Charlie
Orders:
    OrderID  CustomerID  Amount
0      101           2     250
1      102           2     100
2      103           3      50
3      104           4     300

In [40]:
# Merge customers with orders on CustomerID:
merged = pd.merge(df_customers, df_orders, how='inner', on="CustomerID")
print("Inner join on CustomerID:\n", merged)

Inner join on CustomerID:
    CustomerID     Name  OrderID  Amount
0           2      Bob      101     250
1           2      Bob      102     100
2           3  Charlie      103      50